{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h3>Dashboard</h3>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5>Total Products</h5>
                <h2>{{ total_products }}</h2>
            </div>
        </div>
    </div>
</div>

<a href="/products/" class="btn btn-success">View Products</a>
<a href="/add-product/" class="btn btn-primary">Add Product</a>

{% if perms.inventory.change_product %}
<a href="{%url 'stock' %}" class="btn btn-warning">Stock In / Out</a>
{% endif %}

{% if low_stock_products %}
<div class="alert alert-danger mt-4">
    <h5>⚠ Low Stock Alert</h5>
    <ul class="mb-0">
        {% for product in low_stock_products %}
            <li>
                {{ product.name }} — only
                <strong>{{ product.quantity }}</strong> left
            </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="alert alert-success mt-4">
    All products have sufficient stock ✔️
</div>
{% endif %}


{% endblock %}
